<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}} | {{.Site.Title}}</title>
    <meta
      name="description"
      content="{{ if .Post }}{{.Post.Description}}{{ else }}{{.Site.Description}}{{ end }}"
    />
    <meta
      name="keywords"
      content="{{ if .Post }}{{.Post.Keywords}}{{ else }}{{.Site.Keywords}}{{ end }}"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/copy-button.js" defer></script>
  </head>
  <body>
    <div class="posts">
      <header>
        <nav>
          <h1>
            <a href="/">{{.Site.Title}}</a>
          </h1>
          <p>{{.Site.Description}}</p>
        </nav>
      </header>
      <main>{{ template "posts" . }}</main>
      <footer>
        <p>© {{.Site.Author}} | Built with SSG</p>
      </footer>
    </div>
  </body>
</html>
