<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}} | {{.Site.Title}}</title>
    <meta
      name="description"
      content="{{ if .Post }}{{.Post.Description}}{{ else }}{{.Site.Description}}{{ end }}"
    />
    <meta
      name="keywords"
      content="{{ if .Post }}{{.Post.Keywords}}{{ else }}{{.Site.Keywords}}{{ end }}"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/copy-button.js" defer></script>
    <script src="/js/tinysearch/index.js" defer></script>
  </head>
  <body>
    <div class="content">
      <header>
        <nav>
          <a href="/">Home</a>
          <form id="search-form">
            <input
              type="text"
              id="search-input"
              placeholder="Enter your search query..."
            />
            <button type="submit">Search</button>
          </form>

          <p id="status" class="status">Loading search engine...</p>
          <p id="results" class="results"></p>
        </nav>
      </header>
      <main>{{ template "body" . }}</main>
      <footer>
        <p>© {{.Site.Author}} | Built with SSG</p>
      </footer>
    </div>
  </body>
</html>
