{{define "content"}}

<article class="post">
  <header class="post-header">
    <h1>{{.Post.Title}}</h1>
    <time datetime='{{.Post.Date.Format "2006-01-02"}}'>
      {{.Post.Date.Format "January 2, 2006"}}
    </time>
    {{if .Post.Tags}}
    <div class="tags">
      {{range .Post.Tags}}
      <span class="tag">{{.}}</span>
      {{end}}
    </div>
    {{end}}
  </header>

  <div class="post-content">{{.Post.Content}}</div>

  <footer class="post-footer">
    <a href="/">&larr; Back to all posts</a>
  </footer>
</article>
{{end}}
